<!-- templates/accounting/includes/calculations_list.html -->
{% load static %}
{% load user_filters %}

<form id="main" method="post" action="{% url "accounting:add_calculation" point.id %}">
<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th class="align-middle" scope="col" title="Номер счетчика">Номер счетчика</th>
      <th class="align-middle" scope="col" title="Дата внесения показаний">Дата</th>
      <th class="align-middle" scope="col" title="Показания счетчика электроэнергии">Показания</th>
      <th class="align-middle" scope="col" title="Разность показаний">Δ</th>
      <th class="align-middle" scope="col" title="Коэффициент трансформации">K</th>
      <th class="align-middle" scope="col" title="Количество кВт*ч">Количество</th>
      <th class="align-middle" scope="col" title="Вычет кВт*ч">Вычет</th>
      <th class="align-middle" scope="col" title="Потери в линии, %">ΔP</th>
      <th class="align-middle" scope="col" title="Постоянные потери, кВт*ч">ΔS</th>
      <th class="align-middle" scope="col" title="Результат, кВт*ч">Σ</th>
      <th class="align-middle" scope="col" title="Тариф, руб./кВт*ч, Наценка, руб./кВ*ч">
        Тариф<br>
        Наценка
      </th>
      <th class="align-middle" scope="col" title="Начислено без НДС, руб., начислено c НДС, руб.">Начислено</th>
      <th class="align-middle" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% if user.is_authenticated %}
      <tr id="add_readings">
        {% csrf_token %}
        <td class="align-middle">{{ current_meter_number }}</td>
        <td class="align-middle">{{ calculation_form.entry_date|addclass:"form-control" }}</td> 
        <td class="align-middle">{{ calculation_form.readings|addclass:"form-control" }}</td>
        <td class="align-middle">
          <input id="pr" type="hidden" value="{{previous_readings}}">
          <output id="dr">0</output>
        </td>
        <td class="align-middle">
          <output id="tc">{{ point.transformation_coefficient }}</output>
        </td>
        <td class="align-middle">
          <output id="amount" for="dr tc">0</output>
        </td>
        <td class="align-middle">
          <output id="deduction">{{ deductible_amount }}</output>
        </td>
        <td class="align-middle">
          <output id="losses">{{ point.losses }}</output>
        </td>
        <td class="align-middle">
          <output id="constant_losses">{{ point.constant_losses }}</output>
        </td>
        <td class="align-middle">
          <output id="result_amount" for="dr tc">0</output>
        </td>
        <td class="align-middle">
          {% if is_population %}
            <output id="tariff1">{{ tariff1 }}</output>
            <br>
            <output id="tariff2">{{ tariff2 }}</output>
            <br>
            <output id="tariff3">{{ tariff3 }}</output>
          {% else %}
            <output id="tariff1">{{ tariff1 }}</output>
            <output id="tariff2" class="d-none">{{ tariff2 }}</output>
            <output id="tariff3" class="d-none">{{ tariff3 }}</output>
          {% endif %}
          <br>
          <output id="margin">{{ point.margin }}</output>
        </td>
        <td class="align-middle">
          <output id="accrued" for="result_amount tariff1 tariff2 tariff3 margin">0</output>
          <br>
          <output id="accrued_NDS" for="accrued">0</output>
        </td>
        <td class="align-middle">
          <button type="submit" class="btn btn-link" title="Сохранить показания">
            <img src="{% static "icons/floppy.svg " %}" alt="Bootstrap" width="16" height="16">
          </button>
        </td> 
      </tr>
    {% endif %}
    {% for calculation in calculations %}
      <tr>
        <td class="align-middle">{{ calculation.meter }}</td>
        <td class="align-middle">{{ calculation.entry_date }}</td>
        <td class="align-middle">{{ calculation.readings }}</td>
        <td class="align-middle">{{ calculation.difference_readings }}</td>
        <td class="align-middle">{{ calculation.transformation_coefficient }}</td>
        <td class="align-middle">{{ calculation.amount }}</td>
        <td class="align-middle">{{ calculation.deductible_amount }}</td>
        <td class="align-middle">{{ calculation.losses }}</td>
        <td class="align-middle">{{ calculation.constant_losses }}</td>
        <td class="align-middle">{{ calculation.result_amount }}</td>
        <td class="align-middle">
          {% if calculation.tariff1 == calculation.tariff2%}
            {{ calculation.tariff1 }}
          {% else %}
            {{ calculation.tariff1 }}
            <br>
            {{ calculation.tariff2 }}
            <br>
            {{ calculation.tariff3 }}
          {% endif %}
            <br>
            {{ calculation.margin }}
        </td>
        <td class="align-middle">
          {{ calculation.accrued }}
          <br>
          {{ calculation.accrued_NDS }}
        </td>
        <td class="align-middle">
          <a class="btn btn-link" href="{% url "accounting:download_xlsx_document" point.id calculation.id %}" title="Сохранить в формате .xlsx">
            <img src="{% static "icons/filetype-xls.svg " %}" alt="Bootstrap" width="16" height="16">
          </a>
          <a class="btn btn-link" href="#" title="Редактировать">
            <img src="{% static "icons/pencil-square.svg " %}" alt="Bootstrap" width="16" height="16">
          </a>
          <a class="btn btn-link" onclick="return confirm('Вы уверены что хотите удалить показания от {{ calculation.entry_date }}?');" href="{% url 'accounting:del_calculation' point.id calculation.id %}" title="Удалить">
            <img src="{% static "icons/trash.svg " %}" alt="Bootstrap" width="16" height="16">
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</form>
<script src={% static "js/jquery-3.7.1.min.js" %}></script>
<script src={% static "js/readings_calculate.js" %}></script>
