<!-- templates/counterparties/contract_detail.html -->
{% extends 'base.html' %}

{% load user_filters %}
{% load static %}

{% block title %}
  Договор №{{ contract.title }}
{% endblock %}

{% block content %}
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xxl-3 col-xl-12">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Договор №{{ contract.title }}
          </li>
          <li class="list-group-item">
            <a href="{% url 'counterparties:counterparty_detail' contract.counterparty.id %}">
              Контрагент: {{ contract.counterparty.short_name }}
            </a>
          </li>
          <li class="list-group-item">
            Дата заключения: {{ contract.conclusion_date }}
          </li>
          <li class="list-group-item">
            ИКЗ: {{ contract.purchase_code }}
          </li>
          <li class="list-group-item">
            Цена договора: {% if contract.contract_price %} {{ contract.contract_price }} {% endif %}
          </li>
          <li class="list-group-item">
            Объект закупки: {{ contract.description }}
          </li>
          <li class="list-group-item">
            Дата завершения работ: {% if contract.сompletion_date %} {{ contract.сompletion_date }} {% endif %}
          </li>
          <li class="list-group-item">
            Фактическая стоимость выполненных работ: {% if contract.actual_cost %} {{ contract.actual_cost }} {% endif %}</td>
          </li>
          <li class="list-group-item"></li>
        </ul>
        {% if user.is_authenticated %}
          <buttomn>
            <a class="btn btn-primary" href="{% url "counterparties:contract_edit" contract.pk %}">Редактировать договор</a>
            <a class="btn btn-danger" onclick="return confirm('Вы уверены что хотите удалить договор?');" href="{% url 'counterparties:contract_delete' contract.counterparty.pk contract.pk %}">Удалить договор</a>  
          </buttomn>
        {% endif %}
      </div>
      <div class="col">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-doc-tab" data-bs-toggle="tab" data-bs-target="#nav-doc" type="button" role="tab" aria-controls="nav-doc" aria-selected="true">Документы</button>
            <button class="nav-link" id="nav-point-tab" data-bs-toggle="tab" data-bs-target="#nav-point" type="button" role="tab" aria-controls="nav-point" aria-selected="false">Точки учета</button>
            <button class="nav-link" id="nav-comment-tab" data-bs-toggle="tab" data-bs-target="#nav-comment" type="button" role="tab" aria-controls="nav-comment" aria-selected="false">Комментарии</button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-doc" role="tabpanel" aria-labelledby="nav-doc-tab">
            {% include "counterparties/includes/contract_documents.html" %}
          </div>
          <div class="tab-pane fade" id="nav-point" role="tabpanel" aria-labelledby="nav-point-tab">
            {% if user.is_authenticated %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <buttomn>
                <a class="btn btn-primary me-2" href="{% url 'accounting:point_create' contract.id %}"> Добавить точку учёта электроэнергии</a>
              </buttomn>
            </div>
            {% endif %}
            {% include "accounting/includes/contract_points.html" %}
          </div>
          <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab">
            <br>
            {% if user.is_authenticated %}
            <div>
              <form method="post" action="{% url "counterparties:comment_contract_create" contract.id %}">
                <div>
                {% csrf_token %}
                {{ comment_form.text|addclass:"form-control" }}
                </div>
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary">
                    Отправить
                  </button>
                </div>
              </form>
            </div>
            {% endif %}
            <div>
              <ul class="list-group list-group-flush">
                {% for comment in comments %}
                  <li class="list-group-item">
                    {{ comment.text }}
                    <br>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      {{ comment.author.post }} {{ comment.author.last_name }} {{ comment.author.first_name }} {{ comment.created|date:"d.m.Y в H:i" }}
                      {% if user.is_authenticated %}
                        <a class="btn btn-link" href="{% url "counterparties:comment_contract_edit" contract.id comment.id %}" title="Редактировать">
                          <img src="{% static "icons/pencil-square.svg " %}" alt="Bootstrap" width="16" height="16">
                        </a>
                        <a class="btn btn-link" onclick="return confirm('Вы уверены что хотите удалить комментарий?');" href="{% url "counterparties:comment_contract_delete" contract.id comment.id %}" title="Удалить">
                          <img src="{% static "icons/trash.svg " %}" alt="Bootstrap" width="16" height="16">
                        </a>
                      {% endif %}
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
