<!-- templates/counterparties/counterparty_detail.html -->
{% extends 'base.html' %}

{% block title %}
  {{ counterparty.short_name }}
{% endblock title %}

{% load user_filters %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/table_sort.css' %}">
  <script src="{% static 'js/table_sort.js' %}"></script>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xxl-3 col-xl-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Полное наименование: {{ counterparty.full_name }}
            </li>
            <li class="list-group-item">
              Сокращенное наименование: {{ counterparty.short_name }}
            </li>
            <li class="list-group-item">
              Юридический адрес: {{ counterparty.address }}
            </li>
            <li class="list-group-item">
              ОГРН: {{ counterparty.main_state_registration_number }}
            </li>
            <li class="list-group-item">
              ИНН: {{ counterparty.tax_identification_number }}
            </li>
            <li class="list-group-item">
              КПП: {% if counterparty.registration_reason_code %}{{ counterparty.registration_reason_code }}{% endif %}
            </li>
            <li class="list-group-item">
              Контактный телефон: {{ counterparty.phone_number }}
            </li>
            <li class="list-group-item">
              Электронная почта: {{ counterparty.email }}
            </li>
            <li class="list-group-item">
              Руководитель организации:
              {{ counterparty.job_title }}
              {{ counterparty.person_full_name }}
            </li>
            <li class="list-group-item"></li>
          </ul>
          {% if user.is_authenticated %}
            <buttomn>
              <a class="btn btn-primary" href="{% url "counterparties:counterparty_edit" counterparty.pk %}">Редактировать контрагента</a>
              <a class="btn btn-danger" onclick="return confirm('Вы уверены что хотите удалить контрагента?');" href="{% url "counterparties:counterparty_delete" counterparty.pk %}">Удалить контрагента</a>
            </buttomn>
          {% endif %}
        </div>
        <div class="col">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-docs-tab" data-bs-toggle="tab" data-bs-target="#nav-docs" type="button" role="tab" aria-controls="nav-docs" aria-selected="true">Договоры</button>
              <button class="nav-link" id="nav-point-tab" data-bs-toggle="tab" data-bs-target="#nav-point" type="button" role="tab" aria-controls="nav-point" aria-selected="false">Точки учета</button>
              <button class="nav-link" id="nav-comment-tab" data-bs-toggle="tab" data-bs-target="#nav-comment" type="button" role="tab" aria-controls="nav-comment" aria-selected="false">Комментарии</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-docs" role="tabpanel" aria-labelledby="nav-docs-tab">
              {% if user.is_authenticated %}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <buttomn>
                    <a class="btn btn-primary me-2" href="{% url "counterparties:contract_create" counterparty.pk %}"> Добавить договор</a>
                  </buttomn>
                </div>
              {% endif %}
              {% if contracts %}
                <table class="table caption-top table-striped table-hover table_sort">
                  <caption>Всего договоров: {{ contracts_count }}</caption>
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Номер договора</th>
                      <th scope="col">Дата заключения</th>
                      <th scope="col" title= "Идентификационный код закупки на сайте https://zakupki.gov.ru/">ИКЗ</th>
                      <th scope="col">Цена договора</th>
                      <th scope="col">Объект закупки</th>
                      <th scope="col">Дата завершения работ</th>
                      <th scope="col">Фактическая стоимость работ</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for contract in contracts %}
                      <tr>
                        <td scope="row"></td>
                        <td>
                         <a href="{% url "counterparties:contract_detail" contract.id %}">
                         {{ contract.title }}
                         </a>
                        </td>
                        <td>{{ contract.conclusion_date }}</td>
                        <td>{{ contract.purchase_code }}</td>
                        <td>{% if contract.contract_price %} {{ contract.contract_price }} {% endif %}</td>
                        <td>{{ contract.description }}</td>
                        <td>{% if contract.сompletion_date %}{{ contract.сompletion_date }} {% endif %}</td>
                        <td> {% if contract.actual_cost %}{{ contract.actual_cost }}{% endif %}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            </div>
            <div class="tab-pane fade" id="nav-point" role="tabpanel" aria-labelledby="nav-point-tab">
              {% include "accounting/includes/contract_points.html" %}
            </div>
            <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab">
              <br>
              {% if user.is_authenticated %}
              <div>
                <form method="post" action="{% url "counterparties:comment_counterparty_create" counterparty.id %}">
                  <div>
                  {% csrf_token %}
                  {{ comment_form.text|addclass:"form-control" }}
                  </div>
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                      Отправить
                    </button>
                  </div>
                </form>
              </div>
              {% endif %}
              <div>
                <ul class="list-group list-group-flush">
                  {% for comment in comments %}
                    <li class="list-group-item">
                      {{ comment.text }}
                      <br>
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        {{ comment.author.post }} {{ comment.author.last_name }} {{ comment.author.first_name }} {{ comment.created|date:"d.m.Y в H:i" }}
                        {% if user.is_authenticated %}
                          <a class="btn btn-link" href="{% url "counterparties:comment_counterparty_edit" counterparty.id comment.id %}" title="Редактировать">
                            <img src="{% static "icons/pencil-square.svg " %}" alt="Bootstrap" width="16" height="16">
                          </a>
                          <a class="btn btn-link" onclick="return confirm('Вы уверены что хотите удалить комментарий?');" href="{% url "counterparties:comment_counterparty_delete" counterparty.id comment.id %}" title="Удалить">
                            <img src="{% static "icons/trash.svg " %}" alt="Bootstrap" width="16" height="16">
                          </a>
                        {% endif %}
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div> 
            </div>
          </div>
        </div> 
      </div>
    </div>
  </main>
{% endblock content %}