<!-- templates/counterparties/index.html -->
{% extends 'base.html' %}

{% block title %}
  Список контрагентов
{% endblock title %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/table_sort.css' %}">
  <script src={% static "js/table_sort.js" %}></script>
  <div class="container-fluid">
    <table class="table table-striped table-hover table_sort">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Наименование контрагента</th>
          <th scope="col" title= "Основной государственный регистрационный номер">ОГРН</th>
          <th scope="col" title= "Индивидуальный номер налогоплательщика">ИНН</th>
          <th scope="col" title= "Код причины постановки на учёт">КПП</th>
          <th scope="col">Адрес</th>
          <th scope="col">Телефон</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        {% for counterparty in page_obj %}
          <tr>
            <td scope="row"></td>
            <td>
              <a
                class="link-offset-2 link-underline link-underline-opacity-0"
                href="{% url 'counterparties:counterparty_detail' counterparty.id %}"
                title= "{{ counterparty.full_name }}"
                >
                {{ counterparty.short_name }}
              </a>
            </td>
            <td>{{ counterparty.main_state_registration_number }}</td>
            <td>{{ counterparty.tax_identification_number }}</td>
            <td>{{ counterparty.registration_reason_code }}</td>
            <td>{{ counterparty.address }}</td>
            <td>{{ counterparty.phone_number }}</td>
            <td>{{ counterparty.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include 'counterparties/includes/paginator.html' %}
{% endblock content %} 