<!-- templates/includes/header.html -->
{% load static %}
{% load thumbnail %}
{% with request.resolver_match.view_name as view_name %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" >
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url "counterparties:index" %}">
      <img src="{% static 'img/logo.png' %}" width="82" height="40" class="d-inline-block align-top" alt="" title="Общество с ограниченной ответственностью УЭС">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-underline me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if view_name  == 'counterparties:index' or view_name  == 'counterparties:contracts_list' or view_name  == 'counterparties:counterparty_create'%}active{% endif %}" href="{% url 'counterparties:index' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Контрагенты
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item {% if view_name  == 'counterparties:index' %}active{% endif %}" href="{% url 'counterparties:index' %}">Контрагенты</a></li>
            <li><a class="dropdown-item {% if view_name  == 'counterparties:contracts_list' %}active{% endif %}" href="{% url 'counterparties:contracts_list' %}">Договоры</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item {% if view_name  == 'counterparties:counterparty_create' %}active{% endif %}" href="{% url 'counterparties:counterparty_create' %}">Добавить контрагента</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Учёт электроэнергии
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Показания</a></li>
            <li><a class="dropdown-item" href="#">Точки учета</a></li>
            <li><a class="dropdown-item" href="#">Тарифы</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if view_name  == 'users:users_list'%}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Наша организация
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'users:users_list' %}">Наши сотрудники</a></li>
            <li><a class="dropdown-item" href="#">Реквизиты</a></li>
            <li><a class="dropdown-item" href="#">О нас</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
      <button class="btn btn-outline-success me-2" type="submit">Поиск</button>
    </form>
    <div class="dropdown-center"> Пользователь:
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ user.first_name }}
        {% thumbnail user.photo "25x25" crop="center" upscale=True as im %}
          <img class="img-fluid rounded-circle" src="{{ im.url }}">
        {% endthumbnail %}
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        {% with request.resolver_match.view_name as view_name %}
          {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'users:user_profile' user.id %}">Профиль</a></li>
            <li><a class="dropdown-item" href="{% url 'password_change' %}">Изменить пароль</a></li>
            <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
          {% else %}
            <li> 
              <a class="dropdown-item {% if view_name  == 'users:login' %}active{% endif %}" href="{% url 'users:login' %}">Войти</a>
            </li>
            <li>
              <a class="dropdown-item {% if view_name  == 'users:signup' %}active{% endif %}" href="{% url 'users:signup' %}">Регистрация</a>
            </li>
          {% endif %}
        {% endwith %}
      </ul>
    </div>
  </div>
</nav>
{% endwith %} 