<!-- templates/organization/about_organization.html -->
{% extends 'base.html' %}

{% block content %}
<main>
  <div class="container-fluid fw-semibold">
    <p>Управление строительства "Сибакадемстрой"</p>
    <P class="text-center fw-bold">ПРИКАЗ №167</p>
    <P>г. Новосибирск 07.05.67г.</p>
    <P>О Централизации электромеханических служб СМУ на базе УЭС</p>
    <P>В настоящее время каждое строительно-монтажное управление имеет свою энергомеханическую службу. Это привело к большому скоплению на строительстве изношенных средств малой механизации, электрофицированного инструмента и станочного оборудования. ИТР СМУ, занятые эксплуатацией малой механизации и электрохозяйством, не обеспечивают необходимого уровня эксплуатации и соблюдения техники безопасности. Руковоство СМУ вынуждено отвлекаться на решение несвойственных им вопросов.</p>
    <P>Вцелях диквидации указанных недостатков, выполнения рекомендаций совещания механизаторов в г. Ангарске в 1967г. и использования положительного опыта других строек</p>
    <P class="text-center fw-bold">ПРИКАЗЫВАЮ</p>
    <P>Создать управление энергоснабжения (УЭС), на которое возложить обеспечение СМУ малой механизацией, электроэнергией, теплом согласно утверждённому мною положению о централизации энергомеханических служб СМУ при УЭС.</p>
    <P class="text-end">Н. Иванов</p>
  </div>
</main>
{% endblock content %}